/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200;1,300;1,500;1,600;1,800&display=swap');
/* Start Global Rules */
:root {
	--main-color: #10cab7;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* End Global Rules */
body {
	font-family: "Work Sans", monospace;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* Quary rule  End */
/* Start Headre */
.header {
	padding-left: 20px;
	padding-right: 20px;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .logo {
	width: 60px;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

.header .icon {
	position: relative;
	order: 3;
	z-index: 1;
}
.header .icon {
	position: absolute;
	right: 20%;
	top: 1.5%;
	display: flex;
	width: 30px;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.header .icon span {
	background-color: #151515;
	margin-bottom: 3px;
	height: 1px;
}
.header .icon span:first-child {
	width: 100%;
}
.header .icon span:nth-child(2) {
	width: 50%;
	transition: 0.6s;
}
.header .icon span:last-child {
	width: 100%;
}
.header .container .link ul {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 30px;
	right: 20%;
	z-index: 1;
	min-width: 200px;
	background-color: #f6f6f6;
	list-style: none;
	display: none;
}
.header .container .link ul::before {
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #f6f6f6 transparent;
	position: absolute;
	right: 0px;
	top: -15px;
}
.header .link ul a {
	text-decoration: none;
	display: block;
	padding: 15px;
	color: rgb(0, 64, 255);
	transition: 0.4s;
}
.header .link ul li:not(:last-child) a {
	border-bottom: #ddd 2px solid;
}
.header .link ul a:hover {
	padding-left: 25px;
}
.header .container .link:hover ul {
	display: block;
}
.header .container .link:hover > .icon > span:nth-child(2) {
	width: 100%;
}
/* End Header */
/* Start Landing section */
.Landing {
	background-image: url(../img/mountains.jpg);
	background-size: cover;
	background-position: center;
	height: calc(100vh - 31px);
	position: relative;
}
.Landing .intro-text {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.Landing .intro-text h1 {
	margin: 0;
	padding: 0;
	color: var(--main-color);
	font-size: 45px;
	font-weight: bold;
}
.Landing .intro-text p {
	line-height: 1.8;
	font-size: 19px;
	max-width: 100%;
}
/* End Landing section */
/* Start Feature Section  */
.features .container{
	display: grid;
	width: 100vw;
	grid-template-columns: repeat(9, 1fr);
	grid-area: "magic magic magic gem gem gem asia asia asia";
	gap: 20px 20px;
}
.features .container .magic {
	grid-area: magic;
}
.features .container .gem{
	grid-area: gem;
}
.features .container .asia{
	grid-area: asia;
}
/* End Feature Section  */
