/* Google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200;1,300;1,500;1,600;1,800&display=swap");
/* Start Global Rules */
:root {
	--main-color: #10cab7;
	--sec-color: #2c4755;
	--para-color: #797979;
	--back-color: #f6f6f6;
	--line-hi: 1.6;
	--pad: 60px 0;
}
html {
	scroll-behavior: smooth;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* End Global Rules */
/* Start Content */
.special-character {
	text-align: center;
	color: #ebeced;
	font-size: 90px;
	margin: 0;
	letter-spacing: -2px;
}
.special-character + p {
	margin: -30px 0 0;
	text-align: center;
	color: var(--para-color);
	font-size: 20px;
}
/* End Content */
body {
	font-family: "Work Sans", monospace;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (max-width: 767px) {
	.special-character {
		font-size: 60px;
	}
	.special-character + p {
		margin: -25px 0 0;
		font-size: 17px;
	}
	.Service-content .col .Ser {
		flex-direction: column;
		text-align: center;
	}
	.Service-content .col .Ser i {
		align-self: center;
	}
	.Portfolio .Portfolio-content .info {
		text-align: center;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (max-width: 1199px) {
	.img-dis {
		display: none;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* Quary rule  End */
/* Start Headre */
.header {
	padding-left: 20px;
	padding-right: 20px;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.header .logo {
	width: 60px;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}
.header .icon {
	right: 20%;
	top: 1.5%;
	display: flex;
	width: 30px;
	flex-wrap: wrap;
	justify-content: flex-end;
	order: 3;
	z-index: 1;
}
.header .icon span {
	background-color: #151515;
	margin-bottom: 4px;
	height: 2px;
}
.header .icon span:first-child {
	width: 100%;
}
.header .icon span:nth-child(2) {
	width: 50%;
	transition: 0.6s;
}
.header .icon span:last-child {
	width: 100%;
}
.header .container .link ul {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 75%;
	right: 20px;
	z-index: 1;
	min-width: 200px;
	background-color: var(--back-color);
	list-style: none;
	display: none;
}
.header .container .link ul::before {
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent var(--back-color) transparent;
	position: absolute;
	right: 0px;
	top: -15px;
}
.header .link ul a {
	text-decoration: none;
	display: block;
	padding: 15px;
	color: var(--main-color);
	transition: 0.4s;
}
.header .link ul li:not(:last-child) a {
	border-bottom: #ddd 2px solid;
}
.header .link ul a:hover {
	padding-left: 25px;
}
.header .container .link:hover ul {
	display: block;
	border-radius: 20px 10px 20px 20px;
}
.header .container .link:hover > .icon > span:nth-child(2) {
	width: 100%;
}
/* End Header */
/* Start Landing section */
.Landing {
	background-image: url(../img/mountains.jpg);
	background-size: cover;
	background-position: center;
	height: calc(100vh - 31px);
	position: relative;
}
.Landing .intro-text {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.Landing .intro-text h1 {
	margin: 0;
	padding: 0;
	color: var(--main-color);
	font-size: 60px;
	font-weight: bold;
}
.Landing .intro-text p {
	line-height: var(--line-hi);
	font-size: 19px;
	max-width: 100%;
	color: white;
}
/* End Landing section */
/* Start Feature Section  */
.features {
	padding: var(--pad);
	background-color: var(--back-color);
}
.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px 20px;
}
.features .container div {
	text-align: center;
	position: relative;
	z-index: 1;
}
.features .container div p {
	max-width: 100%;
	line-height: var(--line-hi);
	font-size: 17px;
	color: var(--para-color);
}
.features .container i {
	color: var(--main-color);
}
.features .container h3 {
	font-weight: 800;
	margin: 30px 0;
}
.features .container div::after {
	content: "";
	position: absolute;
	background-color: var(--main-color);
	left: 0;
	bottom: 0px;
	z-index: -1;
	width: 100%;
	height: 5px;
	transform: rotateY(-180deg);
	transition: transform 0.5s;
	backface-visibility: hidden;
}
.features .container div:hover::after {
	transform: rotateY(0deg);
}
/* End Feature Section  */
/* Start Services */
.Service {
	padding: var(--pad);
}
.Service-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px 30px;
	margin-top: 100px;
}
.Service-content .colm-3 img {
	width: 260px;
	margin: 15px 0 45px 0;
}
.Service-content .colm-3 .img {
	position: relative;
	z-index: 1;
}
.Service-content .colm-3 .img::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 0px;
	bottom: 30px;
	right: 80px;
	background-color: var(--sec-color);
	z-index: -1;
}
.Service-content .col .Ser {
	display: flex;
	gap: 20px;
}
.Service-content .col .Ser i {
	color: var(--main-color);
}
.Service-content .col .Ser h3 {
	margin-top: 0;
}
.Service-content .col .Ser p {
	color: var(--para-color);
	line-height: var(--line-hi);
	font-weight: 300;
}
@media (min-width: 1199px) {
	.Service-content .colm-2 .Serv-1 {
		margin-bottom: 20px;
	}
}
/* End Services */
/* Start Portfolio */
.Portfolio {
	padding: var(--pad);
	background-color: var(--back-color);
}
.Portfolio .Portfolio-content {
	margin-top: 80px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
}
.Portfolio .Portfolio-content .card {
	background-color: white;
}
.Portfolio .Portfolio-content .info {
	padding: 20px;
}
.Portfolio .Portfolio-content img {
	max-width: 100%;
}
.Portfolio .Portfolio-content .info h3 {
	margin-top: 0;
}
.Portfolio .Portfolio-content .info p {
	margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.About {
	padding: var(--pad);
}
.About .About-content {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}
.About .About-content .image {
	width: 250px;
	height: 400px;
	position: relative;
}
.About .About-content .text {
	flex-basis: calc(100% - 500px);
}

.About .About-content .text p:first-of-type {
	line-height: 2;
	font-weight: bold;
	margin-bottom: 50px;
}
.About .About-content .text hr {
	width: 50%;
	display: inline-block;
	border-color: var(--main-color);
}
@media (max-width: 991px) {
	.About .About-content {
		flex-direction: column;
	}

	.About .About-content .text hr {
		display: block;
	}
}
.About .About-content .text p:last-of-type {
	line-height: var(--line-hi);
	color: var(--para-color);
	margin-top: 50px;
}
.About .About-content .image img {
	width: 100%;
}
.About .About-content .image::before {
	content: "";
	position: absolute;
	top: -35px;
	left: -20px;
	right: 70%;
	bottom: -15px;
	z-index: -1;
	background-color: var(--back-color);
}
.About .About-content .image::after {
	content: "";
	position: absolute;
	width: calc(90% - 60px);
	height: calc(90% - 60px);
	top: -30px;
	left: 200px;
	z-index: -1;
	border-left: solid var(--main-color) 80px;
	border-bottom: solid var(--main-color) 80px;
}
@media (max-width: 991px) {
	.About .About-content .image {
		margin-left: auto;
		margin-right: auto;
	}
	.About .About-content .image::before {
		display: none;
	}
	.About .About-content .image::after {
		display: none;
	}
	.About .About-content .image {
		text-align: center;
	}
}
/* End About */
/* Start Contact */
.Contact {
	padding: 80px 0 80px 0;
	background-color: var(--back-color);
}
.Contact .Contact-content {
	text-align: center;
	margin-top: 100px;
	font-size: 35px;
}
.Contact .Contact-content .Info p {
	letter-spacing: -2px;
	font-weight: 800;
	color: var(--sec-color);
	font-style: none;
	margin-bottom: 15px;
}
.Contact .Contact-content .Info a {
	text-decoration: none;
	color: var(--main-color);
	font-weight: 800;
}
.Contact .Contact-content .Info .social {
	font-size: initial;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
}
.Contact .Contact-content .Info .social i {
	margin-left: 10px;
}
.Contact .Contact-content .Info .social p {
	color: black;
	font-weight: 400;
	letter-spacing: 0;
}
/* End Contact */
/* Start footer */
.footer {
	text-align: center;
	background-color: var(--sec-color);
	padding: 30px 10px;
	color: white;
	font-size: 18px;
}
.footer span {
	color: var(--main-color);
	font-weight: 800;
}
@media (max-width: 767px) {
	.Contact .Contact-content {
		font-size: 30px;
	}
}
/* End footer */
